body {
    margin: 0;
    height: 100vh;
    background-color: #fdf6e3;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#control-panel {
    padding: 1rem;
}

#layout {
    font-family: monospace;
}

#canvas {
    flex: auto;
    height: 0;
}